/* for mobile devices */
@media screen and (max-width : 576px) {
    header{
        padding: 10px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    nav ul{
        gap: 10px;
    }
}


/* for tablet devices */
@media screen and (min-width : 577px) and (max-width : 992px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
}