/* for mobile devices */
@media screen and (max-width : 576px) {
    nav, #quick-list-container, #feature-section {
        flex-direction: column;
        gap: 10px;
    }
    header{
        padding: 5px;
    }
    .title{
        font-size: 3.5rem;
    }
    nav{
        gap: 20px;
    }
    nav ul{
        gap: 10px;
    }
    main{
        width: 90%;
        margin: auto;
    }
    #quick-list-container{
        flex-direction: column-reverse;
    }
    .team-photos{
        width: 100%;
        grid-template-columns:1fr;
    }
    .quick-list-content, .feature-content{
        width: 100%;
    }
    .badge{
        bottom: 50px;
        right: 0;
        padding: 20px;
        margin: auto;
    }
    
}


/* for tablet devices */
@media screen and (min-width : 577px) and (max-width : 992px) {
    header{
        padding: 20px;
    }
    nav, 
    #quick-list-container,
    #feature-section
    {
        flex-direction: column;
        gap: 20px;
    }
    main{
        width: 90%;
        margin: auto;
    }
    .team-photos, .quick-list-content, .feature-content{
        width: 100%;
    }
    .feature-items{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .feature-img{
        height: 40vh;
    }
    .badge{
        right: 0;
        margin: auto;
        bottom: 50px;
        padding: 20px 50px;
    }
    
}