/* for mobile devices */
@media screen and (max-width : 576px) {
    /* header section */
    header{
        padding: 5px;
    }
    .title{
        font-size: 3.5rem;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    nav ul{
        gap: 10px;
    }
    /* quick-list section */
    main{
        width: 90%;
        margin: auto;
    }
    #quick-list-container{
        flex-direction: column;
    }
    .team-photos{
        width: 100%;
        grid-template-columns:1fr;
    }
    .quick-list-content{
        width: 100%;
    }
}


/* for tablet devices */
@media screen and (min-width : 577px) and (max-width : 992px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    /* quick-list section */
    main{
        width: 90%;
        margin: auto;
    }
    #quick-list-container{
        flex-direction: column;
        gap: 30px;
    }
    .team-photos{
        width: 100%;
    }
    .quick-list-content{
        width: 100%;
    }
}