/* work san google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.section-title{
    color:#131313;
    font-size: 2.5rem;
    font-weight: 700;
}
.title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.gray-description{
    color: #727272;
    margin: 20px 0px;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    margin-bottom: 30px;
}

/* header section  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 240px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav  ul{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}
.banner-container{
    margin: 50px auto;
    text-align: center;
}
.banner-img img{
    width: 90%;
    margin: auto;
}
/* main section */
main{
    width: 70%;
    margin: auto;
}
/* quick-list section */
.quick-list-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.team-photos{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.team-photos img{
    width: 100%;
    height: auto;
}
.quick-list-content{
    width: 45%;
}
.gray-quick-list{
    color: #727272;
}
.color-feature{
    color: #FF900E;
}
/* feature-section */
.feature-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}
.feature-content{
    width: 60%;
}
.border-left{
    padding-left: 15px;
    border-left: 3px solid #FF900E;
}
.feature-items{
    display: grid;
}
.item{
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
}
.item > .gray-description{
    margin: 10px 0;
}
.feature-img{
    /* position: absolute; */
}
.feature-img img{
    width: 100%;
}
.badge{
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 40px;
    width: max-content;
    position: relative;
    bottom: 80px;
    right: 80px;
}
.badge-title{
    font-size: 3.5rem;
}
/* fact section */
.fact-section{
    margin-top: 100px;
}
.fact-container{
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}
.count{
    color: #424242;
    font-size: 2.5rem;
    font-weight: 600;
}
.fact-item{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px;
}
/* .fact-item img {
    height: 40px;
    width: 40px;
} */
.fact-description{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}